html{
    font-size: 62.5%;
}

/* Globales */

body{
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 95%;
    margin: 0 auto;
}

@media(min-width: 768px) {
    .contenedor{
        max-width: 90rem;
    }
}

/* Header */

.header{
    display: flex;
    justify-content: center;
    border-bottom: .5px solid white;
}

.header__logo{
    padding: 1rem;
}

/* Nav */

.navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media(min-width: 768px) {
    .navegacion{
        flex-direction: row;
    }
}

.navegacion__enlace{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin: .5rem 2rem;
    text-align: center;
    font-weight: 700;
}

.navegacion__enlace:hover{
    color: black;
    background-color: white;
}

/* Background con video */

#bgPrincipal{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
}

.sect{
    max-height: 50rem;
}


video{
    width: 100vh;
    appearance: none;
}

@media(min-width: 500px) {
    video{
        width: 100%;
    }
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.absolute h1{
    z-index: 100;
    margin-bottom: 3rem;
}

.absolute h1::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background-color: white;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

/* Main */

.main__titulo{
    text-align: center;
    font-size: 3rem;
}
